<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавление объявления :: Доска объявлений</title>
</head>
<body>
    <h1>Добавление объявления</h1>

    <div>
        <a href="{% url 'bboard:index' %}">Главная</a>
        {% for rubric in rubrics %}
            <a href="{% url 'bboard:by_rubric' rubric.pk %}">{{ rubric.name }}</a>
        {% endfor %}
    </div>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Добавить</button>
    </form>

</body>
</html>