{% extends "layout/basic.html" %}
{% load django_bootstrap5 %}


{% block title %}Добавление объявления{% endblock %}

{% block content %}
<h2>Добавление объявления</h2>

    {% if form.is_multipart %}
        <form method="post" enctype="multipart/form-data">
    {% else %}
        <form method="post">
    {% endif %}
        {% csrf_token %}
{#        {% bootstrap_form form exclude='price,rubric' %}#}
{#        {% bootstrap_form form layout='floating' %}#}
        {% bootstrap_form form layout='horizontal' show_help=False size='sm' %}
        {% bootstrap_button 'Добавить' %}
    
    {% comment 'Теперь используем django_bootstrap5' %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% if form.non_field_errors %}
            <ul>
            {% for error in form.non_field_errors %}
                <li><em>{{ error|escape }}</em></li>
            {% endfor %}
            </ul>
        {% endif %}

        {% for field in form.visible_fields %}
            {% if field.errors %}
                <ul>
                {% for error in field.errors %}
                    <li><em>{{ error|escape }}</em></li>
                {% endfor %}
                </ul>
            {% endif %}

            <p>{{ field.label_tag }}<br>{{ field }}<br>
               {{ field.help_text }}</p>
        {% endfor %}

        <button type="submit" class="btn btn-primary">Добавить</button>
    {% endcomment %}
    </form>
{% endblock %}