{% extends "layout/basic.html" %}

{% block content %}
    
{#    {{ block.super }}#}

    {% for bb in bbs %}
    <div class="{% cycle 'b1' 'b2' 'b3' %}">
        {% if forloop.first %}
            <h2 style="font-size: 36px;">
                <a href="{% url 'bboard:detail' pk=bb.pk %}">
                    {{ bb.title_and_price|upper }}</a>
            </h2>
        {% else %}
            <h2>
                <a href="{% url 'bboard:detail' pk=bb.pk %}">{{ bb.title_and_price }}</a>
            </h2>
        {% endif %}

            <p>{{ bb.content }}</p>
    
        {% ifchanged %}
            <p><a href="{% url 'bboard:by_rubric' bb.rubric.pk %}">
                {{ bb.rubric.name }}</a></p>
        {% endifchanged %}

        <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>
    </div>
    {% endfor %}
    
    <div>
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}">&lt;</a>
            &nbsp; | &nbsp;
        {% endif %}
    
        Страница {{ page.number }} из {{ page.paginator.num_pages }}
        
        {% if page.has_next %}
            &nbsp; | &nbsp;
            <a href="?page={{ page.next_page_number }}">&gt;</a>
        {% endif %}
    </div>
    
    {% if page.has_other_pages %}
        <nav aria-label="pagination">
            <ul class="pagination">
                
                {% if page.has_previous %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?page={{ page.previous_page_number }}">Назад</a>
                    </li>
                {% endif %}
            
                {% for p in page.paginator.page_range %}
                    {% if not p == page.number %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                        </li>
                    {% else %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link disabled bg-primary text-light"
                               href="?page={{ p }}">{{ p }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                
                {% if page.has_next %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?page={{ page.next_page_number }}">Вперёд</a>
                    </li>
                {% endif %}
                
            </ul>
        </nav>
    {% endif %}
    
{% endblock %}