<!DOCTYPE html>

{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная{% endblock %} :: Доска объявлений</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bboard/style.css' %}">

{#    {% static 'bboard/style.css' as css_url %}#}
{#    <link rel="stylesheet" href="{{ css_url }}">#}

{#    <link rel="stylesheet" href="{% get_static_prefix %}bboard/style.css">#}

{#    <link rel="stylesheet" href="{{ STATIC_URL }}bboard/style.css">#}

</head>
<body>

<header>
    <h1>Объявления</h1>
</header>

{% include 'layout/inc/main_menu.html' %}

<section>
    {% block content %}
        <p>Контент базового шаблона</p>
    {% endblock %}
</section>

{% comment 'Доделать до завтра!' %}
Доработать футер до идеального состояния
<section>Bober Inc. &copy; 1998&ndash;{% now 'Y' %}</section>
{% endcomment %}

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>